{% comment %} Banner {% endcomment %}
 <section class="banner">
    <div class="banner__holder">
        <div class="banner__content">
            <div class="banner__conntent--inner">
                <div class="banner__content--title">
                    Skincare for guys that aren’t into skincare
                    <span>Try the One Minute Skincare Routine</span>
                </div>
                <div class="banner__content--btn">
                    <a href="#">Try Today!</a>
                </div>
            </div>
            <div class="banner__content--testimonials">
                <div class="banner__content--testimonials-slider">
                    <div>
                        <div class="banner__content--testimonials--list">
                            <div class="testi-stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testi-text">
                                <p>
                                    “I love this stuff, it totally changed the game for me”
                                </p>
                            </div>
                            <div class="testi-author">
                                <img width="39" height="39" src="{{ 'images/author-photo.jpg' | asset_url }}" alt="Author">
                                Peter S.
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="banner__content--testimonials--list">
                            <div class="testi-stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testi-text">
                                <p>
                                    “I love this stuff, it totally changed the game for me”
                                </p>
                            </div>
                            <div class="testi-author">
                                <img width="39" height="39" src="{{ 'images/author-photo.jpg' | asset_url }}" alt="Author">
                                Peter S.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__photo">
            <img width="611" height="617" src="{{ 'images/banner-photo.png' | asset_url }}" alt="Banner Photo">
        </div>
    </div>
 </section>