@use 'mixins';

:root {
    /** Font default */
    --font-family-default: "Roboto Mono", monospace;
    --font-family-title: "Inter", sans-serif;
    --font-size-default: 14px;
    --font-size-title: 18px;
    --font-color-default: #000000;
    --font-color-title: #6c757d;

    /** Use for input, button, and any other element */
    --primary: #FFBA00;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --default-transition: .3s cubic-bezier(.4, 0, .2, 1);
}

/* Global */

body {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    background: #FFFFFF;
    color: var(--font-color-default);
    margin: 0;
    line-height: 1;

    /* Remove the comment from line 85 to 86 if the font issue in safari occurs */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a,a:hover,a:visited,a:focus,input,input:focus,textarea,textarea:focus,select:focus,select{
    outline: none !important;
    text-decoration: none !important;
}

div#main-wrapper{
    overflow: hidden;
    position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

// header
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;

    &__announcement-bar {
        background: var(--primary);
        color: rgba(34, 36, 48, 1);
        font-size: 12px;
        font-weight: 700;
        font-style: bold;
        letter-spacing: 0.33px;
        text-align: center;
        text-transform: uppercase;
        padding: 5px 15px;
    }

    &__inner {
        background: #fff;
        padding: 15px 19px 15px 28px;

        &--left {
            gap: 16px;
        }

        &--right {
            display: flex;
            align-items: center;
            gap: 29px;
        }
    }

    &__burger-menu {
        cursor: pointer;
        width: 32px;
        gap: 9px;
        transition: all 0.3s ease-in-out;

        span {
            width: 100%;
            height: 1px;
            background: #000;
        }

        &:hover {
            span {
                background: var(--primary);
            }
        }
    }

    &__logo {
        a {
            display: block;
            position: relative;
            max-width: 67px;

            img {
                width: 100%;
            }
        }
    }

    &__links {
        a {
            width: 201px;
            height: 46px;
            border-radius: 35px;
            background-color: rgba(34, 36, 48, 1);
            color: #fff !important;
            text-transform: uppercase;
            border-radius: 35px;
            transition: all 0.3s ease-in-out;
            font-size: 16px;

            &:hover {
                background: var(--primary);
            }
        }
    }

    &__cart {
        a {
            display: block;
            position: relative;
            max-width: 36px;

            img {
                transition: all 0.3s ease-in-out;
            }

            &:hover{
                img {
                    opacity: .7;
                }
            }

            span {
                position: absolute;
                top: -9px;
                right: -6px;
                color: #fff;
                background: #000;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                font-size: 18px;
            }
        }
    }
}