// media aliases and breakpoints
$screen-xs-min: 320px;
$screen-sm-min: 600px;
$screen-md-min: 744px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1601px;
$screen-xxl-max: 1600px;
$screen-lg-max: 1023px;

@mixin xs {
	@media screen and (min-width: #{$screen-xs-min}) {
		@content;
	}
}

@mixin sm {
	@media screen and (min-width: #{$screen-sm-min}) {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: #{$screen-md-min}) {
		@content;
	}
}

@mixin lg {
	@media screen and (min-width: #{$screen-lg-min}) {
		@content;
	}
}

@mixin xl {
	@media screen and (min-width: #{$screen-xl-min}) {
		@content;
	}
}

@mixin xl-max {
	@media screen and (max-width: #{$screen-xl-min}) {
		@content;
	}
}

@mixin xxl {
	@media screen and (min-width: #{$screen-xxl-min}) {
		@content;
	}
}

@mixin min1024-max1600 {
	@media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-xxl-max}) {
		@content;
	}
}

@mixin minw ($min-width) {
	@media screen and (min-width: #{$min-width}) {
		@content;
	}
}

@mixin max-1023 {
	@media screen and (max-width: #{$screen-lg-max}) {
		@content;
	}
}

// Function: convert px to vw
@function get-vw($px, $design-width: 1600) {
	$px: $px / 1px;
  	@return ($px / $design-width) * 100vw;
}
